form {
  width: 430px;
  @media(max-width: 455px) {
    width: 100%;
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    font-size: 20px;
    border: 2px solid $white;
    border-radius: 0;
  }
}

.invalid {
  border: 2px solid $red;
}

.valid {
  border: 2px solid $green;
}

input {
  border-radius: 0;
}

textarea {
  width: 100%;
  margin-bottom: 17px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  height: 100px;
  border-radius: 0px;
  resize: none;
}
