.advantages {
  background: linear-gradient(-134deg, rgba(37,53,130,0.60) 0%, rgba(25,72,64,0.90) 100%), url(../img/bg2.jpg) center no-repeat;
  background-size: cover;
  padding: 60px 0 30px;
  @media(max-width: 666px) {
    padding: 60px 0;
  }
  @media(max-width: 420px) {
    padding: 30px 0;
  }
  .container {
    @media(max-width: 1024px) {
      width: 80%;
    }
    @media(max-width: 800px) {
      width: 90%;
    }
    h2 {
      text-align: center;
    }
  }
  &__wrap {
    max-width: 1152px;
    margin: 0 auto;
    @include flex-alignment();
    flex-wrap: wrap;
    @media(max-width: 666px) {
      justify-content: center;
    }
  }
  &__item {
    text-align: center;
    width: 300px;
    margin-bottom: 60px;
    @media(max-width: 666px) {
      margin-bottom: 80px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;

      @media(max-width: 666px) {
        margin-bottom: 20px;
      }
      @media(max-width: 420px) {
        margin-bottom: 15px;
      }
    }
  }
}