.header {
  padding: 13px 0;
  background-color: $black;
  .container {
    @include flex-alignment();
    align-items: center;
    @media(max-width: 630px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__logo {
    margin-right: 40px;
    @media(max-width: 395px) {
      margin: 10px 40px 8px 0;
    }
  }
  &__contacts {
    @include flex-alignment();
    align-items: center;
    width: 420px;
    position: relative;
    @media(max-width: 420px) {
      flex-wrap: wrap;
      width: 200px;
    }
  }
  &__phone {
    font-size: 18px;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
  &__email {
    @extend .header__phone;
  }
  &__search {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: .5s;
    z-index: 1;
    width: 0;
    height: 30px;
    font-size: 16px;
    background-color: #2E70A7;
    border: none;
    padding: 0 30px 0 0;
    color: $white;
    border-radius: 20px;
    &.visible {
      width: 430px;
      padding: 0 30px 0 20px;
      @media(max-width: 545px) {
        width: 245px;
      }
    }
  }
}