.promo {
  padding-top: 70px;

  .container {
    display: block;
  }

  @media(max-width: 930px) {
    padding: 58px 0 86px;
  }

  h1, h2, p, ol {
    color: #fff;
    text-align: left;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  ol {
    line-height: 29px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 20px;
  }
}