<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

<div class="body">
    {% block body %}{% endblock %}
</div>

<script src="assets/js/fetch.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
