<div class="advantages">
    <div class="container">
        <h2>Наши преимущества</h2>
        <div class="advantages__wrap">
            <div class="advantages__item">
                <img src="assets/img/icon1.svg" alt="" class="advantages__img">
                <p class="advantages__about">Заключение договора и выдача отчетной документации</p>
            </div>

            <div class="advantages__item">
                <img src="assets/img/icon2.svg" alt="" class="advantages__img">
                <p class="advantages__about">Обслуживание частного сектора и выезд в ближайшие регионы</p>
            </div>

            <div class="advantages__item">
                <img src="assets/img/icon3.svg" alt="" class="advantages__img">
                <p class="advantages__about">Допуски к работам с напряжением до 1000v</p>
            </div>

            <div class="advantages__item">
                <img src="assets/img/icon4.svg" alt="" class="advantages__img">
                <p class="advantages__about">Техническая поддержка 24 / 7</p>
            </div>

            <div class="advantages__item">
                <img src="assets/img/icon5.svg" alt="" class="advantages__img">
                <p class="advantages__about">Использование качественных расходных материалов</p>
            </div>

            <div class="advantages__item">
                <img src="assets/img/icon6.svg" alt="" class="advantages__img">
                <p class="advantages__about">Доступная цена</p>
            </div>
        </div>
    </div>
</div>