<div class="clients">
    <div class="container">
        <h2>Мы обслуживаем:</h2>
        <div class="clients__wrap">
            <a href=""><img src="assets/img/brand1.svg" alt="" class="clients__item"></a>
            <a href=""><img src="assets/img/brand2.svg" alt="" class="clients__item"></a>
            <a href=""><img src="assets/img/brand3.svg" alt="" class="clients__item"></a>
            <a href=""><img src="assets/img/brand4.svg" alt="" class="clients__item"></a>
            <a href=""> <img src="assets/img/brand5.svg" alt="" class="clients__item"></a>
            <a href=""> <img src="assets/img/brand6.svg" alt="" class="clients__item"></a>
            <a href=""> <img src="assets/img/brand7.svg" alt="" class="clients__item"></a>
        </div>
    </div>
</div>