<div class="contacts">
    <div class="container">
        <h2>Контакты</h2>
        <p class="contacts__address">Наш адрес: Россия, Москва, Верхняя Красносельская улица, 2/1. Ориентир - кафе
            "Советские времена".</p>
        <p class="contacts__details">Реквизиты: ОГРНИП: 317502700048886</p>
        <span>Телефон: <a class="contacts__phone" href="tel:+79267360018">+7 (926) 736-00-18</a></span>
    </div>
</div>