<div class="footer">
    <div class="container">
        <div class="footer__about">
            <a href="" class="footer__logo"><img src="assets/img/logo.svg" alt=""></a>
            <p class="footer__info">
                Торговые марки, имена брендов и фотографии являются собственностью их правообладателей.
            </p>
            <span class="footer__copyright">Copyright © 2017 P.J.Parts</span>
        </div>
        <div class="footer__menu">
            <ul>
               <li><a href="/products.php" target="_blank">Каталог</a></li>
                <li><a href="/service.php" target="_blank">Сервис ДГУ</a></li>
                <li><a href="/service-compair.php" target="_blank">Сервис компрессоров CompAir UK</a></li>
                <li><a href="/delivery.php" target="_blank">Доставка и оплата</a></li>
            </ul>
        </div>
    </div>
</div>