<div class="footer">
    <div class="container">
        <div class="footer__about">
            <a href="" class="footer__logo"><img src="assets/img/logo.svg" alt=""></a>
            <p class="footer__info">
                Торговые марки, имена брендов и фотографии являются собственностью их правообладателей.
            </p>
            <span class="footer__copyright">Copyright © 2017 P.J.Parts</span>
        </div>
        <div class="footer__menu">
            <ul>
                <li><a href="">Каталог</a></li>
                <li><a href="">Сервис ДГУ</a></li>
                <li><a href="">Сервис компрессоров CompAir UK</a></li>
                <li><a href="">Доставка и оплата</a></li>
            </ul>
        </div>
    </div>
</div>