<div class="header">
    <div class="container">
        <a href="" class="header__logo">
            <img src="assets/img/logo.svg" alt="">
        </a>
        <div class="header__contacts">
            <a class="header__phone" href="tel:+79267360018">+7 (926) 736-00-18</a>
            <a class="header__email" href="mailto:info@pjparts.ru">info@pjparts.ru</a>
            <a class="header__search" href=""><img src="assets/img/search.svg" alt=""></a>
        </div>
    </div>
</div>