<div class="header">
    <div class="container">
        <a href="" class="header__logo">
            <img src="assets/img/logo.svg" alt="">
        </a>
        <div class="header__contacts">
            <a class="header__phone" href="tel:+79267360018">+7 (926) 736-00-18</a>
            <a class="header__email" href="mailto:info@pjparts.ru">info@pjparts.ru</a>
            <button class="btn btn-search js-btn-search"><img src="assets/img/search.svg" alt=""></button>
            <div class="header__search-wrap js-input-search">
                <input class="header__search" type="text">
            </div>
        </div>
    </div>
</div>