<div class="header">
    <div class="container">
        <a href="" class="header__logo">
            <img src="assets/img/logo.svg" alt="">
        </a>
        <div class="header__contacts">
            <a class="header__phone" href="tel:84993916031">+7 (499) 391-60-31</a>
            <a class="header__email" href="mailto:info@pjparts.ru">info@pjparts.ru</a>
            <button class="btn btn-search js-btn-search"><img src="assets/img/search.svg" alt=""></button>
        </div>
    </div>
</div>

<div class="modal js-modal">
    <div class="modal__wrap">
        <div class="modal__header">
            <a href="" class="modal__logo">
                <img src="assets/img/logo.svg" alt="">
            </a>
            <a href="" class="modal__close js-btn-close">
                <span>Закрыть</span>
                <img src="assets/img/close.svg" alt="">
            </a>
        </div>
        <input class="modal__input js-input-search" placeholder="Начинайте вводить название детали" type="text">
        <div class="modal__content-result">
            {#<h2>Результаты (<span></span> шт):</h2>#}
            {#<div class="modal__result js-container-result">#}
                {#<a href="">Кольцо корпуса термостата Perkins CH10056</a>#}
                {#<a href="">Кольцо корпуса термостата Perkins CH10056</a>#}
                {#<a href="">Кольцо корпуса термостата Perkins CH10056</a>#}
            {#</div>#}
            {#<h2>К сожалению, ничего не найдено</h2>#}
            {#<p>Но Вы можете связаться с нами по телефону <a class="modal__phone" href="tel:+74993916031">+7 (499)#}
            {#391-60-31</a> или по почте <a class="modal__email" href="mailto:info@pjparts.ru">info@pjparts.ru</a>#}
            {#и мы что-нибудь придумаем!</p>#}
        </div>
    </div>
</div>