<div class="intro">
    <div class="container">
        <div class="intro__info">
            <h1>Сервис дизельных генераторов</h1>
            <p>
                Мы выполняем пуско-наладочные работы, техническое обслуживание и ремонт дизельных генераторов, продаём
                расходные материалы и запасные части для дизельных генераторов и двигателей
            </p>
        </div>
        <div class="intro__form">
            <h2>Оставить заявку:</h2>
            <form action="">
                <input type="text" placeholder="Ваше имя" required>
                <input type="email" class="email-input js-email" placeholder="E-mail">
                <input type="tel" maxlength="12" class="js-phone" placeholder="8 (915) 555-55-55" pattern="/^((\+7|7|8)+([0-9]){10})$/gm" required>
                <button class="btn btn-send js-submit" type="submit" disabled>Отправить</button>
            </form>
        </div>
    </div>
</div>