<div class="intro">
    <div class="container">
        <div class="intro__info">
            <h1>Сервис дизельных генераторов</h1>
            <p>
                Мы выполняем пуско-наладочные работы, техническое обслуживание и ремонт дизельных генераторов, продаём
                расходные материалы и запасные части для дизельных генераторов и двигателей
            </p>
        </div>
        <div class="intro__form">
            <h2>Оставить заявку:</h2>
            <form action="">
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Телефон">
                <button class="btn" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>