<div class="intro">
    <div class="container">
        <div class="intro__info">
            <h1>Сервис дизельных генераторов</h1>
            <p>
                Мы выполняем пуско-наладочные работы, техническое обслуживание и ремонт дизельных генераторов, продаём
                расходные материалы и запасные части для дизельных генераторов и двигателей
            </p>
        </div>
        <div class="intro__form js-intro-form">
            <h2>Оставить заявку:</h2>
            <form action="" class="js-form">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="email" name="email" class="email-input js-email" placeholder="E-mail">
                <input type="tel" name="tel" maxlength="12" class="js-phone" placeholder="8 (915) 555-55-55" required>
                <textarea name="" id="" cols="30" rows="10" name="message" placeholder="Дополнительная информация"></textarea>
                <button class="btn btn-send js-submit" type="submit" disabled>Отправить</button>
            </form>
        </div>
        <div class="intro__submit-form js-submit-form">
            <h2>Спасибо!</h2>
            <p>Мы свяжемся с вами в течении пары часов</p>
        </div>
    </div>
    <div class="promo">
        <div class="container">
            <h1>Акция!</h1>
            <h2>Подготовим генератор к зиме с 5% скидкой. </h2>
            <p>В комплексную подготовку входит:</p>
            <ol>
                <li>Замена масла и масляного фильтра;</li>
                <li>Замена охлаждающей жидкости;</li>
                <li>Замена воздушного фильтра;</li>
                <li>Замена топливного фильтра;</li>
                <li>Диагностика аккумуляторной батареи;</li>
                <li>Проверка и регулировка натяжения ремней;</li>
                <li>Диагностика подогревателя охлаждающей жидкости и зарядного устройства.</li>
            </ol>
            <p>Своевременная подготовка генератора к зимнему периоду это 100% гарантия его бесперебойной работы!</p>
            <p>Акция продлится до 1 декабря 2017 года.</p>
        </div>
    </div>
</div>

