<div id="map">
    {#<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A06f17b0e8e78c8e1564bbb531b10412fbe659e5cfe069827ee7f5cd74a3c3a07&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor"#}
            {#width="100%" height="400" frameborder="0"></iframe>#}
</div>