<div class="text-page container">
    <h1>
        Сервис ДГУ FG&nbsp;Wilson, WFM Generators, SDMO, <br>
        Cummins и&nbsp;двигателей Perkins, Kubota, John Deere, Scania
    </h1>
    <p>
        Качественное техническое обслуживание является залогом бесперебойной работы дизельного генератора в
        экстренных
        ситуациях. Обслуживание и&nbsp;ремонт генератора должны проводить квалифицированные специалисты, имеющие
        многолетний
        опыт работы.
    </p>
    <p>
        Наши специалисты проводят обслуживание и&nbsp;ремонт генераторов <b>FG&nbsp;Wilson, WFM Generators,
            SDMO, Cummins и&nbsp;двигателей Perkins, Kubota, John Deere, Scania</b> на&nbsp;высшем уровне.
    </p>
    <p>
        Важным элементом в&nbsp;качественной производительности генератора является правильная работа двигателя.
        Зачастую,
        некачественное обслуживание двигателей в&nbsp;генераторных установках, приводит к&nbsp;выходу из&nbsp;строя
        электростанции.
    </p>
    <p>
        Заказав у&nbsp;нас техническое обслуживание дизельного генератора <b>FG&nbsp;Wilson, WFM Generators, SDMO,
            Cummins</b> и
        двигателей <b>Perkins, Kubota, John Deere, Scania</b>, вы&nbsp;получите качественные расходные материалы.
    </p>

    <h2>
        Наши цены:
    </h2>
    <table style="text-align: center">
        <tr>
            <td style="width: 33%">Мощность генератора, kVA</td>
            <td style="width: 33%; padding: 0" colspan="3">
                <table style="width: 100%">
                    <tr>
                        <td colspan="3" style="border-width: 0 ">Вид ТО</td>
                    </tr>
                    <tr>
                        <td style="border-left: 0;">ТО-1</td>
                        <td>ТО-2</td>
                        <td>ТО-3</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border-width: 0 ">Стоимость, руб*</td>
                    </tr>
                </table>
            </td>
            <td style="width: 33%">Испытания под нагрузкой в Москве и МО, в течение 2 часов</td>
        </tr>
        <tr>
            <td>до 20</td>
            <td>10500</td>
            <td>12500</td>
            <td>15000</td>
            <td>8000</td>
        </tr>
        <tr>
            <td>20-50</td>
            <td>12500</td>
            <td>14500</td>
            <td>16500</td>
            <td>12000</td>
        </tr>
        <tr>
            <td>50-100</td>
            <td>15000</td>
            <td>17500</td>
            <td>20500</td>
            <td>16000</td>
        </tr>
        <tr>
            <td>100-150</td>
            <td>16000</td>
            <td>19000</td>
            <td>23500</td>
            <td>16000</td>
        </tr>
        <tr>
            <td>150-200</td>
            <td>17000</td>
            <td>23000</td>
            <td>28500</td>
            <td>20000</td>
        </tr>
        <tr>
            <td>250-400</td>
            <td>19500</td>
            <td>32500</td>
            <td>46500</td>
            <td>26500</td>
        </tr>
        <tr>
            <td>400-750</td>
            <td>29000</td>
            <td>40000</td>
            <td>47500</td>
            <td>28000</td>
        </tr>
        <tr>
            <td>750-1000</td>
            <td>33500</td>
            <td>44000</td>
            <td>74000</td>
            <td>35000</td>
        </tr>
        <tr>
            <td>1000-1500</td>
            <td>46000</td>
            <td>61000</td>
            <td>105000</td>
            <td>42000</td>
        </tr>
        <tr>
            <td>1500-2000</td>
            <td>55500</td>
            <td>78500</td>
            <td>140000</td>
            <td>49000</td>
        </tr>
        <tr>
            <td colspan="5">
                Стоимость выезда специалиста на диагностику неисправностей по Москве и МО = 7000,00 рублей
            </td>
        </tr>
    </table>
    <p>
        *Стоимость включает все расходные материалы и технические жидкости <br>
        *В стоимость входит выезд специалистов по Москве и МО <br>
        *Цены могут меняться в зависимости от производителя оборудования <br>
    </p>


    <h2>
        Мы выполняем:
    </h2>

    <ul>
        <li>Выезд специалиста на диагностику</li>
        <li>Очистка от загрязнений</li>
        <li>Контроль уровня масла в картере двигателя (долив)</li>
        <li>Контроль работы датчика давления масла</li>
        <li>Замена масла и масляных фильтров</li>
        <li>Контроль уровня охлаждающей жидкости (долив)</li>
        <li>Устранение утечек</li>
        <li>Контроль работы датчика температуры охлаждающей жидкости</li>
        <li>Проверка состояния и натяжения ремней вентилятора</li>
        <li>Контроль загрязнения радиатора</li>
        <li>Проверка состояния подогревателя охлаждающей жидкости</li>
        <li>Замена подогревателя охлаждающей жидкости</li>
        <li>Замена охлаждающей жидкости</li>
        <li>Проверка наличия и удаление воды из камеры отстоя топливного фильтра</li>
        <li>Контроль уровня топлива в баке</li>
        <li>Замена топлива в баке</li>
        <li>Проверка работы датчика уровня топлива</li>
        <li>Устранение утечек топлива</li>
        <li>Контроль затяжки хомутов топливной системы</li>
        <li>Замена топливных фильтров</li>
        <li>Контроль запыленности и очистка при необходимости воздушных фильтров</li>
        <li>Контроль работы воздушных клапанов</li>
        <li>Замена воздушных фильтров</li>
        <li>Контроль уровня и плотности электролита</li>
        <li>Очистка клемм АКБ</li>
        <li>Замена АКБ</li>
        <li>Осмотр и диагностика основного генератора</li>
        <li>Контроль и ремонт электрических соединений генератора</li>
        <li>Осмотр и очистка панели управления</li>
        <li>Контроль и ремонт электрических соединений панели управления</li>
        <li>Проверка состояния зарядного устройства АКБ</li>
        <li>Замена зарядного устройства АКБ</li>
        <li>Программирование, настройка и прошивка панелей управления PowerWizard, WOODWARD EasyGen, Genpart 6000</li>
    </ul>
</div>
