/* Дефолтные стили */
@font-face {
  font-family: 'SFUIText';
  src: url("../fonts/SFUIText-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SFUIText-Light';
  src: url("../fonts/SFUIText-Light.otf") format("opentype");
}

body {
  position: relative;
  width: 100%;
  font-family: 'SFUIText', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

/* Формы */
input, textarea, button {
  outline: none;
  border: none;
}

/* Аккуратные таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Основные стили */
html {
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

h1 {
  font-size: 60px;
  color: $white;
  line-height: 63px;
  font-family: 'SFUIText-Light';
  margin-bottom: 15px;
  @media(max-width: 420px) {
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}

h2 {
  font-size: 29px;
  color: $white;
  text-align: center;
  font-family: 'SFUIText-Light';
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  color: $white;
  @media(max-width: 420px) {
    font-size: 15px;
  }
}

/* Ссылки без дефолтного подчёркивания */
a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  @media(max-width: 1024px) {
    width: 90%;
  }
}

@mixin flex-alignment() {
  display: flex;
  justify-content: space-between;
}

@mixin block() {
  display: block;
  margin: 0 auto;
}


input {
  -webkit-appearance: none;
}